# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# emacs
*~
.Rproj.user

# data and tmp file
data/
file*.lfmm*
file*.env
.RData